* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header h1 {
    padding: 50px;
    text-align: center;
}

.player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin-bottom: 20px;
}

.player {
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    padding: 12px 18px;
    gap: 1em;
}

.player .player-name {
    padding: 10px;
    border-right: 1px solid gray;
}

.player .player-sign {
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
}

.block {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in;
    z-index: 10;
}

.resultDiv.active {
    transform: translate(-50%, -50%) scale(1);
}

.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    transition: 200ms ease-in;
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}