* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background: rgb(212, 230, 233);
}

header {
    padding: 40px;
    margin-bottom: 20px;
}

header h1 {
    text-align: center;
}

.player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin-bottom: 20px;
}

.player {
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 18px;
    gap: 1em;
}

.player.active {
    background-color: gray;
    color: white;
}

.player.active .player-name {
    border-right: 1px solid #fff;
}

.player .player-name {
    padding: 10px;
    border-right: 1px solid rgb(156, 155, 155);
}

.player .player-sign {
    padding: 10px;
}

.change-name-direction {
    text-align: center;
    margin: 20px;
    color: gray
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
    gap: 0.4em;
    justify-content: center;
}

.block {
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart {
    margin: 40px;
    text-align: center
}

.restart button {
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(216, 166, 213);
    border: none;
    border-radius: 15px;
    padding: 20px 28px;
}

.restart button:hover {
    background-color: rgba(216, 166, 213, 0.788);
}

.resultDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 40px;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in;
    z-index: 10;
}

.resultDiv.active {
    transform: translate(-50%, -50%) scale(1);
}

.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(6px);
    transition: 200ms ease-in;
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}