* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header h1 {
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
}

.block {
    border: 1px solid black;
}